.ribHero {
   position: relative;
   width: 100%; /* for IE 6 */
}

.ribHeroText {
   position: absolute;
   top: 200px;
   width: 100%;
}

.ribHeroText span {
  color: white;
  font: bold;
  letter-spacing: +1px;
  padding: 10px;
  align: right;
}
